header {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  font-size: 2rem;
  font-style: italic;}
body{
margin: 1rem;
background-color: rgb(182, 135, 226)}
img
  {width: 10rem;
   height: 10rem;}

.celda {
  margin-right: 10rem;
  padding-right: 10rem;}