 <a href="https://www.facebook.com/dani.comes.5/"><img src="./src/assets/Logo Facebook.png" class="img"></a>
 <a href="https://www.instagram.com/daniela.comes/"><img src="./src/assets/Logo Instagram.jpg" class="img"></a>
 <a href="https://www.linkedin.com/in/daniela-luc%C3%ADa-comes-04615721a/">
 <img src="./src/assets/Logo Linkedin.png" class="img"></a>
 <a href="https://discord.com/channels/1104079988417896488/1104079988807962631" class="img">
 <img src="./src/assets/Logo Discord.png" class="img"></a>
 <a href="https://github.com/DaLuCo"><img src="./src/assets/Logo Github.png" class="img"></a>
