<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/20210812_164244.jpg" class="img-fluid"></div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p>DANIELA LUCIA COMES</p>
        <p>Full stack developer</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span><h1>SOBRE MI</h1>
        <p>Me llamo Daniela, tengo 34 años y vivo en Villa Celina. Mi objetivo laboral es encontrar un espacio que me permita desarrollarme personal y profesionalmente.
            Soy una persona ordenanda, responsable, empática y tengo facilidad para aprender cualquier tarea.</p>
        </span>
    </div>
</div>
