<div class="row">
    <h1>Educación</h1>
    <div class="col-lg 11">
        <ul>
            <li><h1>Trabajo 1</h1> - <h3>año</h3></li>
            <p>OPSM. Encuestadora. Encuestas telefónicas sobre política.</p>
        </ul>
        <ul>
            <li><h1>Trabajo 2</h1> - <h3>año</h3></li>
            <p>OPSM. Encuestadora. Encuestas telefónicas sobre política.</p>
        </ul>
        <ul>
            <li><h1>Trabajo 3</h1> - <h3>año</h3></li>
            <p>OPSM. Encuestadora. Encuestas telefónicas sobre política.</p>
        </ul>
    </div>
</div>
