<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg 11">
        <ul>
            <li><h2>OPSM</h2> - <h3>Febrero 2017-abril 2017</h3></li>
            <p>Encuestadora. Encuestas telefónicas sobre política.</p>
        </ul>
        <ul>
            <li><h2>NCC</h2> - <h3>Noviembre 2013-febrero 2014</h3></li>
            <p>Censista. Encuestas a diferentes locales de venta de bebidas.</p>
        </ul>
        <ul>
            <li><h2>Babel EVT</h2> - <h3>Noviembre 2011-noviembre 2013</h3></li>
            <p>Atención al público. Venta de paquetes turísticos y pasajes. Atención al público. Trámites.</p>
        </ul>
    </div>
</div>
