<div class="row">
    <div class="container">
        <div class="logo">
        <img src="../../../assets/Logo AP.jpg" id="logoAP" alt="logoAP">
        </div>
        <div class="redes">
          <a href="https://www.facebook.com/dani.comes.5"><img src="../../../assets/Logo Facebook.png" alt="Logo Facebook"></a>
          <a href=""><img src="../../../assets/Logo Linkedin.png" alt="Logo Linkedin"></a>
          <a href=""><img src="../../../assets/Logo Instagram.jpg" alt="Logo Instagram"></a>
          <button type="button" class="btn btn-outline-light">INGRESO</button> 
        </div>
    </div>
</div>

